{% extends "layout.html" %}
{% block title %}WORKOUT PLANNER{% endblock %}
{% block page %}WORKOUT PLANNER{% endblock %}

{% block styles %}
<style>
    .collection .collection-item.active{
        background-color: cornflowerblue;
    }

    .list-container {
        border: 2px solid #ccc;
        border-radius: 5px;
        max-height: 200px;
        overflow-y: scroll;
        padding: 20px;
    }

    .heading {
        text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col m5">
        <div class="heading"><h5>EXERCISES</h5></div>
        <div class="list-container collection" style="max-height: 78vh; overflow-y: scroll; margin-left: 10px;">
                {% for exercise in exercises %}
                    {% if selected_exercise and exercise.id==selected_exercise.id %}
                        <a id="{{exercise.id}}" href="/exercises/{{exercise.id}}" class="collection-item active white-text">{{exercise.title}}</a>
                    {% else %}
                        <a id="{{exercise.id}}" href="/exercises/{{exercise.id}}" class="collection-item black-text">{{exercise.title}}</a>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    
    <div class="col m7">
        <div class="heading"><h5>INFORMATION</h5></div>
        <div>
            <h5 style="text-align: center;">{{selected_exercise.title}}</h5>
            <h5>Description</h5>
            <p>{{selected_exercise.description}}</p>
            <h5>Type</h5>
            <p>B{{selected_exercise.exercise_type}}</p>
            <h5>Body Part</h5>
            <p>{{selected_exercise.bodypart}}</p>
            <h5>Equipment</h5>
            <p>{{selected_exercise.equipment}}</p>
            <h5>Level</h5>
            <p>{{selected_exercise.level}}</p>
        </div>
    </div>
</div>
{% endblock %}