{% extends "layout.html" %}
{% block title %}WORKOUT PLANNER{% endblock %}
{% block page %}WORKOUT PLANNER{% endblock %}

{% block styles %}
<style>
    .collection .collection-item.active {
        background-color: cornflowerblue;
    }

    .list-container {
        border: 2px solid #ccc;
        border-radius: 5px;
        max-height: 200px;
        overflow-y: scroll;
        padding: 20px;
    }

    .heading {
        text-align: center;
    }

    .create-routine-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .create-routine-container form {
        margin-right: 10px;
    }

    .routine-heading {
        margin-left: 30px;
    }

    .create-routine-container button {
    margin-top: 10px;
}

</style>
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 0px;">
    <div class="col s12">
        <div class="create-routine-container">
            <h5 class="routine-heading">Welcome {{current_user.username}}</h5>
            <h5 class="routine-heading">Create Routine?</h5>
            <form id="create-routine-form" class="col s10" method="POST" action="{{ url_for('user_views.create_routine') }}">
                <div class="input-field col s10">
                    <input id="routine-name" name="routine-name" type="text" class="validate">
                    <label for="routine-name">Routine Name</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Create
                <i class="material-icons right">add</i>
                </button>
            </form>
            
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 0px;">
    <div class="col m5">
        <div class="heading"><h5>Your Routines</h5></div>
        <div class="list-container collection" style="max-height: 65vh; overflow-y: scroll; margin-left: 10px;">
            {% for routine in user_routines %}
                {% if selected_routine and routine.id == selected_routine.id %}
                    <a id="{{routine.id}}" href="/routines/{{routine.id}}" class="collection-item active white-text">{{ routine.routine_name }}
                        <form style="display: inline;" action="{{ url_for('user_views.delete_routine', routine_id=routine.id) }}" method="POST">
                            <button class="btn-flat waves-effect waves-light" type="submit">
                                <i class="material-icons right" style="justify-content: space-between;">delete_forever</i>
                            </button>
                        </form>
                    </a>
                {% else %}
                    <a id="{{routine.id}}" href="/routines/{{routine.id}}" class="collection-item black-text">{{ routine.routine_name }}
                        <form style="display: inline;" action="{{ url_for('user_views.delete_routine', routine_id=routine.id) }}" method="POST">
                            <button class="btn-flat waves-effect waves-light" type="submit">
                                <i class="material-icons right" style="justify-content: space-between;">delete_forever</i>
                            </button>
                        </form>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="col m7">
        <div class="heading" style="text-align: center;"><h5>Exercises</h5></div>
        <div class="list-container collection" style="max-height: 65vh; overflow-y: scroll; margin-left: 10px;">
            <ul class="collapsible">
                {% if exercises %}
                    {% for exercise in exercises %}
                        <li>
                            <div class="collapsible-header">{{exercise.title}}</div>
                            <div class="collapsible-body">
                                <span><h6>Description</h6>
                                    <p>{{exercise.description}}</p>
                                    <h6>Type</h6>
                                    <p>B{{exercise.exercise_type}}</p>
                                    <h6>Body Part</h6>
                                    <p>{{exercise.bodypart}}</p>
                                    <h6>Equipment</h6>
                                    <p>{{exercise.equipment}}</p>
                                    <h6>Level</h6>
                                    <p>{{exercise.level}}</p>
                                    <form action="{{ url_for('user_views.delete_exercise_from_routine', routine_id=selected_routine.id, exercise_id=exercise.id) }}" method="POST">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Remove
                                            <i class="material-icons right">remove_circle</i>
                                        </button>
                                    </form>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center;">No Routine Selected Or Exercises Not Found In Routine.</p>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems);
    });
</script>
{% endblock %}
